<form (ngSubmit)="productForm.valid && submit()" [formGroup]="productForm">
  <h2 class="text-center">{{ editMode ? "Edit" : "Add New Product" }}</h2>

  <hr />
  <div class="row">
    <div class="form-group mb-3 col-6">
      <input
        type="text"
        class="form-control"
        formControlName="productName"
        placeholder="product name"
        [class.is-invalid]="
          productForm.controls['productName'].touched &&
          productForm.controls['productName'].invalid
        "
      />

      <div
        *ngIf="productForm.controls['productName'].hasError('required')"
        class="invalid-feedback"
      >
        Please enter Product Name!
      </div>
    </div>

    <div class="form-group mb-3 col-6">
      <input
        type="number"
        class="form-control"
        formControlName="quatity"
        placeholder="quatity"
        [class.is-invalid]="
          productForm.controls['quatity'].touched &&
          productForm.controls['quatity'].invalid
        "
      />

      <div
        *ngIf="productForm.controls['quatity'].hasError('required')"
        class="invalid-feedback"
      >
        Please enter Product quatity!
      </div>
    </div>
  </div>

  <div class="form-group mb-3">
    <textarea
      class="form-control"
      formControlName="description"
      placeholder="description"
      [class.is-invalid]="
        productForm.controls['description'].touched &&
        productForm.controls['description'].invalid
      "
    ></textarea>
    <div
      *ngIf="productForm.controls['description'].hasError('required')"
      class="invalid-feedback"
    >
      Please enter short description for your product!
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <input
          type="text"
          id="image"
          formControlName="image"
          class="form-control"
          placeholder="Image URL"
          #imagePath
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <img [src]="imagePath.value" class="img-responsive" />
    </div>
  </div>
  <div class="row">
    <div class="form-group mb-3 col-6">
      <input
        type="number"
        class="form-control"
        formControlName="price"
        placeholder="price"
        [class.is-invalid]="
          productForm.controls['price'].touched &&
          productForm.controls['price'].invalid
        "
      />

      <div
        *ngIf="productForm.controls['price'].hasError('required')"
        class="invalid-feedback"
      >
        Please enter Product price!
      </div>
    </div>
    <div class="form-group mb-3 col-6">
      <select
        class="form-select"
        formControlName="productTypeId"
        aria-label="Default select example"
      >
        <option selected disabled value="">Product Types</option>
        <option
          *ngFor="let productType of productTypes"
          value="{{ productType.id }}"
        >
          {{ productType.productTypeName }}
        </option>
      </select>
    </div>
    <!-- <div class="dropdown form-group mb-3 col-6">
            <button class="btn dropdown-toggle " type="button" formControlName="productType"
             id="dropdownMenuButton1" data-bs-toggle="dropdown"
                aria-expanded="false">
                Product Types
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" style="cursor: pointer;">type1</a></li>
                <li><a class="dropdown-item" style="cursor: pointer;">type2</a></li>
            </ul>
        </div> -->
  </div>

  <div class="form-group text-center mb-3">
    <label class="control-label"> Availability </label>
    <label class="radio-inline m-3">
      <input type="radio" value="true" formControlName="availability" /> Yes
    </label>
    <label class="radio-inline m-3">
      <input
        type="radio"
        value="false"
        formControlName="availability"
        class="ml-5"
      />
      No
    </label>
  </div>

  <div class="form-group text-center">
    <button
      class="btn btn-success text-center m-2"
      type="button"
      (click)="submit()"
      [disabled]="!productForm.valid"
    >
      {{ editMode ? "Update" : "Save" }}
    </button>
    <button class="btn btn-danger text-center" type="button" (click)="Cancel()">
      Cancel
    </button>
    <button class="btn btn-danger text-center m-2" *ngIf="editMode" type="button" (click)="Delete()">
      Delete
    </button>
  </div>
</form>
