<div class="card h-100">
    <a (click)="onEdit()">
        <img [src]="product.image" 
        style="height: 60vh" 
        class="card-img-top" alt="...">
    </a>
    <div class="card-body">
        <ul class="list-unstyled d-flex justify-content-between">
            <li>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-muted fa fa-star"></i>
                <i class="text-muted fa fa-star"></i>
            </li>
            <li class="text-muted text-right">{{product.price}} LE</li>
        </ul>
        <a href="shop-single.html" class="h2 text-decoration-none text-dark">{{product.productName}}</a>
        <p class="card-text">
            {{product.description}}
        </p>
        <p class="text-muted"> </p>
    </div>
</div>