<div class="card h-100" (click)="selectOrder(product.id)">
  <a (click)="onEdit()" >
    <img
      [src]="product.image"
      style="height: 60vh"
      class="card-img-top"
      alt="..."
    />
  </a>
  <div class="card-body" > 
    <ul class="list-unstyled d-flex justify-content-between">
      <li>
        <i
          class="fa fa-star"
          [class]="product.availability ? 'text-success' : 'text-danger'"
        >
          {{ product.availability ? "Available" : "Not available" }}
        </i>
      </li>
      <li class="text-muted text-right">{{ product.price }} LE</li>
    </ul>
    <p class="h2 text-decoration-none text-dark">
      {{ product.productName }}
    </p>
    <div class="row">
      <div class="col-6">
        <p class="card-text">
          {{ product.description }}          
        </p>
      </div>
      <div class="col-6 text-end">
        <button class="btn btn-success">Add to card</button>
      </div>
    </div> 
    <p class="text-muted"></p>
  </div>
 
</div>
